@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   -webkit-user-select: none;
   -webkit-touch-callout: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

:root {
   --main-scale: 1.2;
}

html {
   scroll-snap-type: y mandatory;
   scroll-behavior: smooth;
   font-family: Convergence;
}

body {
   font-size: 1.2rem;
}

body::-webkit-scrollbar {
   width: 5px;
   background-color: rgb(73, 73, 73);
}

body::-webkit-scrollbar-thumb {
   border-radius: 100rem;
   background-color: rgb(165, 165, 165);
}

body::-webkit-scrollbar-thumb:hover {
   background-color: rgb(226, 226, 226);
}

a {
   text-decoration: none;
   color: #2d365a;
}

.section {
   position: relative;
   height: 100vh;
   scroll-snap-align: center;
   scroll-snap-stop: always;
   overflow: auto;
}



/* % % % % % % % % % % % % % % % % % % % % % */
/* - - - - - - -  SECTION 1 - - - - - - - -  */
/* # # # # # # # # # # # # # # # # # # # # # */

.section-1 {
   gap: 5vh;
   background: url('images/forest-bg.png');
   background-color: #bfffea;
   background-blend-mode: multiply;
   background-size: cover;
   animation: bg 30s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.header {
   position: relative;
   color: #aae1ff;
   text-align: center;
   text-shadow: 0px 5px #2d365a;
   margin-bottom: 1.5rem;
   isolation: isolate;
   animation: slide 1s forwards;
}

.header h2 {
   color: #ff6a6a;
}

.header .flag {
   position: absolute;
   right: 0;
   left: 0;
   margin: auto;
   transform: translateY(-50%);
   aspect-ratio: 1/1;
   height: 10rem;
   background-color: white;
   background: url('images/phflag.png');
   background-size: contain;
   z-index: -1;
}

.moreInfosBtn {
   font-family: Convergence;
   font-weight: 600;
   color: #003636;
   background-color: #3bbbb5;
   box-shadow: 0 5px rgb(15, 63, 82);
   border-radius: 1rem;
   padding: 5px 15px;
   transition: 0.1s;
}

.moreInfosBtn:hover {
   cursor: pointer;
   scale: 1.1;
}


/* % % % % % % % % % % % % % % % % % % % % % */
/* - - - - - - -  SECTION 2 - - - - - - - -  */
/* # # # # # # # # # # # # # # # # # # # # # */

.section-2 {
   background: url('images/corrupt-bg.png');
   background-color: #d5bfff;
   background-blend-mode: multiply;
   background-size: cover;
   animation: bg-reverse 30s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

   display: flex;
   align-items: center;
   justify-content: baseline;
   flex-direction: column;
}

.activeStatus {
   --online-bgc: rgb(197, 197, 197);
   --online-dot-bgc: rgb(121, 121, 121);
   position: relative;
   background: var(--online-bgc);
   box-shadow: 0 5px rgba(0, 0, 0, 0.329);
   padding: 7px 15px 7px 25px;
   border-radius: 10rem;
   margin-top: 1rem;

}

.activeStatus::before {
   content: '';
   position: absolute;
   background-color: var(--online-dot-bgc);
   height: 1rem;
   aspect-ratio: 1/1;
   border-radius: 50%;
   top: 50%;
   translate: 0 -50%;
   left: 6px;
}

.activeStatus.online {
   --online-bgc: rgb(128, 236, 134);
   --online-dot-bgc: rgb(0, 148, 86);
}

.activeStatus.offline {
   --online-bgc: rgb(255, 75, 75);
   --online-dot-bgc: rgb(190, 0, 0);
}

.activeStatus.online~.infos {
   --section-2-clr1: #5B0888;
   --section-2-clr2: #713ABE;
   --section-2-clr3: #E5CFF7;
}

.activeStatus.offline~.infos {
   --section-2-clr1: rgb(190, 0, 0);
   --section-2-clr2: #db8a8a;
}

.infos {
   --section-2-clr1: #2c2c2c;
   --section-2-clr2: #6b6b6b;
   --section-2-clr3: #dfdfdf;
   --section-2-clr4: #ffffffd3;

   background-color: var(--section-2-clr3);
   color: var(--section-2-clr4);
   width: clamp(250px, 95vw, 500px);
   height: 80vh;
   box-shadow: 0 10px rgba(0, 0, 0, 0.329);
   margin-top: 1rem;
   border-radius: 1rem;
   padding: 1rem;
   overflow: auto;
}

.infos::-webkit-scrollbar {
   width: 13px;
   background-color: var(--section-2-clr3);
   border-radius: 0 5px 5px 0;
}

.infos::-webkit-scrollbar-thumb {
   background-color: var(--section-2-clr2);
   border-radius: 5px;

}

.infos ul {
   list-style: none;
}

.infos #players.hidden {
   display: none;
}

.infos h4 {
   background-color: var(--section-2-clr1);
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.548);
   padding: 0.4em;
   border-radius: 5px;
   font-size: 1rem;
   font-weight: 1000;
   color: var(--section-2-clr4);
   text-align: center;
   letter-spacing: 2px;
   margin: 10px;

}

.infos ul.sectionInfos li {
   margin: 5px 10px;
   font-size: 1rem;
   font-weight: 600;
}

.infos li span[id] {
   font-family: 'Poppins', sans-serif;
   color: var(--section-2-clr1);
}

.infos ul.sectionInfos li span:not([id]) {
   display: inline-block;
   background-color: var(--section-2-clr2);
   width: 110px;
   text-align: center;
   border-radius: 5px;
   padding: 3px 0;
   margin-right: 5px;
   margin-left: 5px;

}

.infos ul#players {
   display: flex;
   flex-wrap: wrap;
   margin: 15px;
   gap: 5px;
   justify-content: center;
}

.infos ul#players li {
   width: fit-content;
   background-color: rgb(165, 131, 209);
   color: var(--section-2-clr4);
   font-weight: 600;
   padding: 5px 15px;
   border-radius: 5px;
   text-align: center;
   margin: 0 0 5px 0;
}

.infos ul#players li:hover {
   cursor: pointer;
   background-color: #6327c4;
}

#address,
#port {
   user-select: text;
}

/* % % % % % % % % % % % % % % % % % % % % % */
/* - - - - - - - SECTION 3 - - - - - - - - - */
/* # # # # # # # # # # # # # # # # # # # # # */

.section-3 {
   background: url('images/hallow-bg.png');
   background-color: lightblue;
   background-blend-mode: multiply;
   background-size: cover;
   animation: bg 30s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;

   --main-clr: #2d365a;
}

.section-3>div {
   display: flex;
   flex-flow: column;
   justify-content: space-around;
   align-items: center;
   row-gap: 1rem;
   height: 100%;
}

.section-3 h1 {
   color: #2d365a;
   text-align: center;
   background-color: lightblue;
   width: clamp(300px, 80vw, 500px);
   padding: 0.2rem;
   border-radius: 0.2rem;
   box-shadow: -3px 3px #2d365a;

   position: relative;
   z-index: 2;
}

.section-3 .heading1::after {
   content: '(click on names to visit profile)';
   display: block;
   font-size: 10px;
}

.admins {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   row-gap: 1rem;
   align-items: center;
   flex-grow: 1;

   max-width: 500px;
}

.admins .row {
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.admins .row:has(.ben) {
   height: 8rem;
}

.admins .person {
   width: 5rem;
   height: 5rem;
   margin: 0 1rem;
   border-radius: 50%;
   z-index: 1;

   position: relative;
   opacity: 1;

   display: flex;
   align-items: center;
   justify-content: center;

}

.cover {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   overflow: hidden;
   box-shadow: 0 0 0 3px var(--main-clr);
}

.admins img {
   height: 5rem;
   border-radius: 50%;
   aspect-ratio: 1/1;
   object-fit: cover;

   transition: 0.3s;
}

.admins .ben {
   font-size: 2rem;
   height: 8rem;
   width: 8rem;

}

.admins .ben img {
   height: 8rem;
}

.person::before {
   content: '';
   position: absolute;
   z-index: -1;
   height: calc(100% + 11px);
   width: calc(100% + 11px);
   border-radius: 50%;
   --wheel-clr: rgba(159, 237, 237, 1.0);
   background-image: conic-gradient(rgba(0, 0, 0, 0) 0deg 60deg,
         var(--wheel-clr) 60deg 120deg,
         rgba(0, 0, 0, 0) 120deg 180deg,
         var(--wheel-clr) 180deg 240deg,
         rgba(0, 0, 0, 0) 240deg 300deg,
         var(--wheel-clr) 300deg 360deg);
   animation: rotate 1.5s infinite linear;
   visibility: hidden;
}

.person:hover img {
   transform: scale(1.3);
   filter: brightness(60%);
}

.ben:hover img {
   transform: scale(1.2);
}

.person:hover::before {
   visibility: visible;
   animation: rotate 1.5s infinite linear;
}

.person p {
   position: absolute;

   transform: translateY(-50rem);
   filter: blur(10px);
   opacity: 0;

   font-weight: 800;
   color: rgba(177, 208, 208, 1.0);
   text-align: center;
   text-shadow: 0 3px var(--main-clr);

   z-index: 1;
}

.person:hover p {
   transform: translateY(0);
   filter: blur(0px);
   opacity: 1;
   cursor: pointer;
   transition: transform 0.001s, opacity 0.2s, filter 0.3s;
}

.person p:hover::after {
   content: '';
   display: block;
   border-bottom: 2px solid lightblue;
}

/* ----------- JOIN US -------------*/

.join {
   flex-grow: 1;

   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   row-gap: 1rem;
}

.join>div {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   column-gap: 1rem;
}

.icon-box {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 3px;
   height: 4rem;
   background-color: lightblue;
   border-radius: 50%;
   aspect-ratio: 1/1;
   transition: transform 0.1s linear;
   color: 2d365a;

   position: relative;
}

.icon-box:hover {
   transform: scale(1.05);
   background-color: #2d365a;
   cursor: pointer
}

.icon {
   height: 3rem;
}

.icon-box::after {
   display: block;
   position: absolute;
   font-weight: 800;
   font-size: 1rem;
   text-decoration: underline solid;
}

.messenger::after {
   content: 'Messenger';
   right: calc(100% + 10px);
   font-size: 0.8rem;
}

.discord::after {
   content: 'Discord';
   left: calc(100% + 10px);
   font-size: 0.8rem;
}





/* 
-------MISCELLANEOUS--------
 */




@keyframes slide {
   0% {
      opacity: 0;
      transform: translateY(-100%) scale(calc(var(--main-scale) * 1.5));
   }

   100% {
      opacity: 1;
      transform: translateY(0%) scale(var(--main-scale));
   }
}

@keyframes rotate {
   0% {
      transform: rotate(0turn);
   }

   100% {
      transform: rotate(1turn);
   }
}


/* -------------MEDIA QUERIES--------------- */

@media(min-width:800px) {
   :root {
      --main-scale: 1.7;
   }
}